html{
	zoom: 100%;
}

@media all and (max-width: 530px) {
  	.nomobile {
    	display: none;
  	}
}

@media all and (min-width: 531px) {
	.onlymobile{
		opacity: 0;
	}
}

a {
    color: white;
    font-family: "Lato", sans-serif;
    outline: 0;
    text-decoration: none;
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out
}

a:hover, a a:focus {
    color: gray;
}

h1{
	text-align: center;
	font-family: "Lobster", sans-serif;
	font-size: 3em;
	margin: 15px 0px 30px 0px;
}

h3{
	padding: 0;
	margin: 0;
}

p{
	padding: 0;
	margin: 10px;
}

body{
	background: white;
	position: relative;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

#menu{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: flex-start;

	position: fixed;
	background: black;
	width: 100%;
	height: 40px;
	left: -100%;
	border-right-style: solid;
	border-right-width: 3px;
	border-right-color: black;
}

#menu ul{
	padding: 0;
	margin: 0;
}

#menu li{
	font-size: 12px;
	flex-grow: 1;
	display: inline;
	background: black;
	list-style-type: none;
	width: 130px;
	border-radius: 2px;
	font-family: 'Lato', 'sans-serif';
	cursor: pointer;
}

#close-menu-button{
	flex-grow: 1;
	cursor: pointer;
	background: black;
	font-size: 15px;
	text-align: center;
	width: 30px;
	height: 28px;
	line-height: 28px;
	border-radius: 3px;
	margin-left: 5px;
}

#header{
	position: fixed;
	background: black;
	width: 100%;
	height: 40px;
}

#header-space{
	background: none;
	height: 40px;
	width: 100%;
}

.flex-menu-bar{
	color: #FFF;
	font-family: "Lato", sans-serif;

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-content: center;

	padding: 0px;
	width: 100%;
	height: 20px;
}

#open-menu-button{
	cursor: pointer;
	font-size: 20px;
	height: 20px;
	width: 100px;
	padding: 10px;
}

.flex-menu-bar ul{
	font-size: 15px;
	padding: 8px 10px;
	margin: 0;
}

.flex-menu-bar li{
	cursor: pointer;
	display: inline;
	list-style-type: none;
	background: none;
	margin: 10px;
}

#content{
	margin: 0 20px;
}

.content-menu{
	list-style-type: none;
	padding: 0;
}

.content-menu-item{
	text-align: center;
	background: black;
	margin: 20px auto;
	padding: 5px;
	border-radius: 5px;
	min-height: 100px;
	max-width: 800px;
}